<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/copy.css">
</head>

<body>
    <div id="logo">
        <a href="main.html">
            <!-- Border Effect -->
            <img src="../static/image/logo.png" alt="logo">
        </a>
    </div>

    <div id="main">
        <div class="div_text">뉴스</div> <div class="div_text" id="hot"> &nbsp; 핫 &nbsp; 

            <div id="fire">
                <!-- <img src="../static/image/fire.png" alt="fire"> -->
            </div>

        </div> <div class="div_text">트렌드</div>

        <div id="sub_title">
            뉴스에 &nbsp; 대해 &nbsp; 얼마나 &nbsp; 알고 &nbsp; 계시나요?
        </div>

        <br>

        <button id="startButton" href="sub.html">시작하기
            <span></span>
            <span></span>
            <span></span>
            <span></span>

        </button>
    </div>

    <script>
        // 버튼 클릭 후 이동
        document.getElementById("startButton").onclick = function() {
            window.location.href = "sub.html";
        };
    </script>
</body>

</html>
