<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPredict Page</title>
    <link rel="stylesheet" href="../static/css/new_predict.css">
</head>

<body>
    <div id="logo">
        <a href="main.html">
            <img src="../static/image/logo.png" alt="logo">
        </a>
    </div>

    <div class="center-div">
        <textarea id="text_lyric" class="center-textarea" placeholder="기사 원문을 입력하세요."></textarea>
        <textarea id="text_title" class="center-textarea" placeholder="기사 제목을 입력하세요." style="margin-top:50px"></textarea>
    
    </div>

    <div id="replay">
        <a href="sub.html">
            <img src="../static/image/retry.png" alt="replay">
        </a>
    </div>

    <div class="analysis-box-parent">
        <div class="analysis-box" id="analysis-box1" onclick="loadDescription(0,'summary_2.html')">
            <h1>요약분석</h1>
        </div>

        <div class="analysis-box"  id="analysis-box2" onclick="loadDescription(1,'sentimental_2.html')">
            <h1>감성분석</h1>
        </div>

        <div class="analysis-box"  id="analysis-box3" onclick="loadDescription(2,'topic_modeling_2.html')">
            <h1>토픽모델링</h1>
        </div>

        <div class="analysis-box"  id="analysis-box4" onclick="loadDescription(3,'reliability_2.html')">
            <h1>신뢰도분석</h1>
        </div>
    </div>

    <div id="iframe-container"></div>

    <script>

        function reset_class(){
            document.getElementById('analysis-box1').classList.remove("clicked");
            document.getElementById('analysis-box2').classList.remove("clicked");
            document.getElementById('analysis-box3').classList.remove("clicked");
            document.getElementById('analysis-box4').classList.remove("clicked");
            
        }
        document.getElementById('submitButton').addEventListener('click', function() {
            // Get the selected option value
            var selectedOption = document.getElementById('lang').value;

            // Redirect based on the selected option
            if (selectedOption === 'KeyWord_1') {
                window.location.href = 'KeyWord1.html';
            } else if (selectedOption === 'KeyWord_2') {
                window.location.href = 'KeyWord2.html';
            } else if (selectedOption === 'KeyWord_3') {
                window.location.href = 'KeyWord3.html';
            } else if (selectedOption === 'KeyWord_4') {
                window.location.href = 'KeyWord4.html';
            } else if (selectedOption === 'KeyWord_5') {
                window.location.href = 'KeyWord5.html';
            }
        });

        // Function to load the iframe with the specified source
        function loadDescription(this_object, src) {
            console.log(this_object);

            reset_class();


            let object_name="";
            if(this_object==0){
                object_name = "analysis-box1";
            }
            if(this_object==1){
                object_name = "analysis-box2";
            }
            if(this_object==2){
                object_name = "analysis-box3";
            }
            if(this_object==3){
                object_name = "analysis-box4";
            }

            let object_element = document.getElementById(object_name);
            object_element.classList.add("clicked");

            

            // Create an iframe element
            var iframe = document.createElement('iframe');
            iframe.src = src +"?title=" + document.getElementById("text_title").value +"&data=" + document.getElementById('text_lyric').value; // Set the source of the iframe
            iframe.width = '100%';
            iframe.height = '400px';
            iframe.style.border = 'none';

            // Remove any existing iframe
            var iframeContainer = document.getElementById('iframe-container');
            while (iframeContainer.firstChild) {
                iframeContainer.removeChild(iframeContainer.firstChild);
            }

            // Append the new iframe to the container
            iframeContainer.appendChild(iframe);

            // Show the iframe container
            iframeContainer.style.display = 'block';

        }
    </script>
    
</body>

</html>
